{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="wide"}}
            <div class="container medium" style="margin-top: 5rem;">
                {{> comments}}
            </div>
        {{/post}}
        {{#is "post"}}
            {{> related}}
        {{/is}}
    </main>
</div>

{{#contentFor "body_class"}}{{#if @site.logo}}{{#if @site.cover_image}} with-alt-header{{/if}}{{/if}}{{/contentFor}}