{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="wide"}}
            {{ ^has tag="disable-comments" }}
                <div class="container medium" style="margin-top: 5rem;">
                    {{> comments}}
                </div>
            {{ /has }}
        {{/post}}
        {{#is "post"}}
            {{> related}}
        {{/is}}
    </main>
</div>

{{#contentFor "body_class"}}{{#if @site.logo}}{{#if @site.cover_image}} with-alt-header{{/if}}{{/if}}{{/contentFor}}